:root {
  --primary-color: #003140;
  --secondary-color: #ffff00;
  --accent-color: #00bce8;
  --hover-color: #40d9ff;
  --text-color: #fff;
  --header-font: "Playfair Display";
  --text-font: Lato;
  --padding: 0.5rem;
  --h1-font-size: 3.8125rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2.4375rem;
  --h4-font-size: 1.9375rem;
  --nav-link-font-size: 0.8125rem;
  --paragraph-font-size: 1rem;
  --icons-font-size: 1.5625rem;
  --footer-font-size: 0.625rem;
  --gap-section: 4.0625rem;
  --gap-between-items: 2rem;
  --extra-bold: 800;
  --medium: 500;
  --semi-bold: 600;
  --regular: 400;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
}

section {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

main {
  margin: 65px 0;
}

@media only screen and (max-width: 767px) {
  .index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
  }

  .index-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
  }

  .index-header .logo a {
    font-family: var(--text-font);
    color: var(--secondary-color);
    font-weight: var(--medium);
    font-size: var(--paragraph-font-size);
  }

  .index-header nav {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .index-header nav input[type="checkbox"] {
    display: none;
  }

  .index-header nav .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
  }

  .index-header nav .burger .bar {
    width: 100%;
    background-color: var(--text-color);
    border-radius: 50px;
    height: 4px;
  }

  .index-header nav ul {
    position: absolute;
    top: 32px;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    z-index: 1;
    background-color: var(--primary-color);
    opacity: 0;
    transition: all ease-in 0.3s;
  }

  .index-header nav ul li a {
    padding: var(--padding);
    color: var(--text-color);
    font-weight: var(--medium);
    font-size: var(--nav-link-font-size);
    font-family: var(--text-font);
  }

  .index-header nav #toggle:checked ~ ul {
    opacity: 1;
  }

  main {
    min-height: calc(100vh - 88px);
  }

  main #home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  main #home figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main #home article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  main #home article h1 {
    font-size: var(--h2-font-size);
    color: var(--text-color);
    font-family: var(--header-font);
    padding: var(--padding);
    font-weight: var(--extra-bold);
  }

  main #home article h1 span {
    color: var(--secondary-color);
  }

  main #home article p {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: var(--paragraph-font-size);
    padding: var(--padding);
  }

  main #home article p span {
    color: var(--secondary-color);
  }

  main #home article p span::before {
    content: "Developer";
    animation: typing 15s infinite;
  }

  @keyframes typing {
    0% {
      content: "Developer";
    }

    100% {
      content: "Designer";
    }
  }

  main #home article a,
  main #contact div form button {
    padding: var(--padding);
    background-color: var(--accent-color);
    text-align: center;
    color: var(--primary-color);
    font-weight: var(--bold);
    font-size: var(--paragraph-font-size);
    font-family: var(--text-font);
    align-self: flex-start;
  }

  main #project,
  main #about,
  main #skill,
  main #contact {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
  }

  main #project .project-header,
  main #about .about-header,
  main #skill .skill-header,
  main #contact .contact-header {
    display: flex;
    align-items: center;
  }

  main #project .project-header h2,
  main #about .about-header h2,
  main #skill .skill-header h2,
  main #contact .contact-header h2 {
    color: var(--secondary-color);
    font-family: var(--header-font);
    font-size: var(--h3-font-size);
  }

  main #project .project-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--gap-between-items);
  }

  main #project .project-ul li figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--text-color);
    gap: 24px;
  }

  main #project .project-ul li figure figcaption,
  main #skill .skill-ul li figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  main #project .project-ul li figure figcaption header,
  main #skill .skill-ul li figure figcaption header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    gap: var(--padding);
  }

  main #project .project-ul li figure figcaption header h3,
  main #skill .skill-ul li figure figcaption header h3 {
    color: var(--primary-color);
    font-family: var(--header-font);
    font-size: var(--h4-font-size);
    font-weight: var(--bold);
    text-align: center;
  }

  main #project .project-ul li figure figcaption p,
  main #skill .skill-ul li figure figcaption p {
    font-size: 0.875rem;
    color: var(--primary-color);
    color: var(--primary-color);
    padding: var(--padding);
    line-height: 1.25rem;
  }

  main #project .project-ul li figure figcaption ul {
    display: flex;
    gap: 1.625rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  main #project .project-ul li figure figcaption ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--paragraph-font-size);
    padding: var(--padding);
    text-align: center;
    font-size: 0.75rem;
    font-weight: var(--bold);
    font-family: var(--text-font);
    color: var(--primary-color);
  }

  main #project .project-ul li figure figcaption ul li a i {
    font-size: var(--icons-font-size);
    color: var(--accent-color);
  }

  main #about figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    width: 100%;
  }

  main #about figure img {
    border-radius: 50%;
    width: 300px;
  }

  main #about figure figcaption,
  main #skill .skill-ul li figure {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  main #about figure figcaption p {
    font-size: var(--paragraph-font-size);
    color: var(--text-color);
    padding: var(--padding);
    line-height: 1.5rem;
  }

  main #skill .skill-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-between-items);
    width: 100%;
  }

  main #skill .skill-ul li figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    gap: var(--paragraph-font-size);
    width: 100%;
  }

  main #skill .skill-ul li figure i {
    font-size: 3.75rem;
    color: var(--accent-color);
  }

  main #contact div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-between-items);
  }

  main #contact div article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--paragraph-font-size);
  }

  main #contact div article p {
    color: var(--text-color);
    font-family: var(--text-font);
    padding: var(--padding);
    font-size: var(--paragraph-font-size);
  }

  main #contact div article ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  main #contact div article ul li a {
    font-size: var(--icons-font-size);
    color: var(--accent-color);
  }

  main #contact div form {
    width: 100%;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--paragraph-font-size);
  }

  main #contact div form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--padding);
  }

  main #contact div form div label {
    font-size: var(--paragraph-font-size);
    font-weight: var(--medium);
    color: var(--primary-color);
    font-family: var(--text-font);
  }

  main #contact div form div input {
    padding: 4px;
    border-radius: 3px;
    border: 1px solid var(--primary-color);
  }

  main #contact div form div textarea {
    padding: 20px;
    border-radius: 3px;
    border: 1px solid var(--primary-color);
    resize: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    gap: var(--padding);
    background-color: var(--accent-color);
  }

  footer nav {
    width: 100%;
  }

  footer nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--paragraph-font-size);
  }

  footer nav ul li a {
    padding: var(--padding);
    font-size: 0.625rem;
    font-weight: var(--medium);
    color: var(--primary-color);
    font-family: var(--text-font);
  }

  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }

  footer ul li i {
    color: var(--primary-color);
    font-size: 0.625rem;
  }
}

@media only screen and (min-width: 768px) {
  .index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
  }

  .index-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
  }

  .index-header .logo a {
    font-family: var(--text-font);
    color: var(--secondary-color);
    font-weight: var(--medium);
    font-size: var(--paragraph-font-size);
  }

  .index-header nav {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .index-header nav input[type="checkbox"] {
    display: none;
  }

  .index-header nav .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
  }

  .index-header nav .burger .bar {
    width: 100%;
    background-color: var(--text-color);
    border-radius: 50px;
    height: 4px;
  }

  .index-header nav ul {
    position: absolute;
    top: 32px;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    z-index: 1;
    background-color: var(--primary-color);
    opacity: 0;
    transition: all ease-in 0.3s;
  }

  .index-header nav ul li a {
    padding: var(--padding);
    color: var(--text-color);
    font-weight: var(--medium);
    font-size: var(--nav-link-font-size);
    font-family: var(--text-font);
    transition: all ease-in 0.3s;
  }

  .index-header nav #toggle:checked ~ ul {
    opacity: 1;
  }

  main {
    min-height: calc(100vh - 64px);
  }

  main #home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  main #home figure {
    width: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main #home article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  main #home article h1 {
    font-size: var(--h2-font-size);
    color: var(--text-color);
    font-family: var(--header-font);
    padding: var(--padding);
    font-weight: var(--extra-bold);
  }

  main #home article h1 span {
    color: var(--secondary-color);
  }

  main #home article p {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: var(--paragraph-font-size);
    padding: var(--padding);
  }

  main #home article p span {
    color: var(--secondary-color);
  }

  main #home article p span::before {
    content: "Developer";
    animation: typing 15s infinite;
  }

  @keyframes typing {
    0% {
      content: "Developer";
    }

    100% {
      content: "Designer";
    }
  }

  main #home article a,
  main #contact div form button {
    padding: var(--padding);
    background-color: var(--accent-color);
    text-align: center;
    color: var(--primary-color);
    font-weight: var(--bold);
    font-size: var(--paragraph-font-size);
    font-family: var(--text-font);
    align-self: flex-start;
    transition: all ease-in 0.3s;
  }

  main #project,
  main #about,
  main #skill,
  main #contact {
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
  }

  main #project .project-header,
  main #about .about-header,
  main #skill .skill-header,
  main #contact .contact-header {
    display: flex;
    align-items: center;
  }

  main #project .project-header h2,
  main #about .about-header h2,
  main #skill .skill-header h2,
  main #contact .contact-header h2 {
    color: var(--secondary-color);
    font-family: var(--header-font);
    font-size: var(--h3-font-size);
  }

  main #project .project-ul,
  main #skill .skill-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: var(--gap-between-items);
  }

  main #project .project-ul li figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--text-color);
    gap: 24px;
  }

  main #project .project-ul li figure figcaption,
  main #skill .skill-ul li figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  main #project .project-ul li figure figcaption header,
  main #skill .skill-ul li figure figcaption header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    gap: var(--padding);
  }

  main #project .project-ul li figure figcaption header h3,
  main #skill .skill-ul li figure figcaption header h3 {
    color: var(--primary-color);
    font-family: var(--header-font);
    font-size: var(--h4-font-size);
    font-weight: var(--bold);
    text-align: center;
  }

  main #project .project-ul li figure figcaption p,
  main #skill .skill-ul li figure figcaption p {
    font-size: 0.875rem;
    color: var(--primary-color);
    color: var(--primary-color);
    padding: var(--padding);
    line-height: 1.25rem;
  }

  main #project .project-ul li figure figcaption ul {
    display: flex;
    gap: 1.625rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  main #project .project-ul li figure figcaption ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--paragraph-font-size);
    padding: var(--padding);
    text-align: center;
    font-size: 0.75rem;
    font-weight: var(--bold);
    font-family: var(--text-font);
    color: var(--primary-color);
    transition: all ease-in 0.3s;
  }

  main #project .project-ul li figure figcaption ul li a i {
    font-size: var(--icons-font-size);
    color: var(--accent-color);
    transition: all ease-in 0.3s;
  }

  main #about figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    width: 100%;
  }

  main #about figure img {
    border-radius: 50%;
    width: 320px;
  }

  main #about figure figcaption,
  main #skill .skill-ul li figure {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  main #about figure figcaption p {
    font-size: var(--paragraph-font-size);
    color: var(--text-color);
    padding: var(--padding);
    line-height: 1.75rem;
  }

  main #skill .skill-ul li figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    gap: var(--paragraph-font-size);
    width: 100%;
  }

  main #skill .skill-ul li figure i {
    font-size: 3.75rem;
    color: var(--accent-color);
  }

  main #contact div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-between-items);
  }

  main #contact div article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--paragraph-font-size);
    width: 368px;
  }

  main #contact div article p {
    color: var(--text-color);
    font-family: var(--text-font);
    padding: var(--padding);
    font-size: var(--paragraph-font-size);
  }

  main #contact div article ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  main #contact div article ul li a {
    font-size: var(--icons-font-size);
    color: var(--accent-color);
  }

  main #contact div form {
    width: 368px;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--paragraph-font-size);
  }

  main #contact div form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--padding);
  }

  main #contact div form div label {
    font-size: var(--paragraph-font-size);
    font-weight: var(--medium);
    color: var(--primary-color);
    font-family: var(--text-font);
  }

  main #contact div form div input {
    padding: 4px;
    border-radius: 3px;
    border: 1px solid var(--primary-color);
  }

  main #contact div form div textarea {
    padding: 20px;
    border-radius: 3px;
    border: 1px solid var(--primary-color);
    resize: none;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding);
    gap: var(--padding);
    background-color: var(--accent-color);
  }

  footer nav {
    width: 318;
  }

  footer nav ul {
    width: 100%;
    display: flex;
    gap: var(--paragraph-font-size);
  }

  footer nav ul li a {
    padding: var(--padding);
    font-size: 0.625rem;
    font-weight: var(--medium);
    color: var(--primary-color);
    font-family: var(--text-font);
  }

  footer ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    width: 187px;
  }

  footer ul li i {
    color: var(--primary-color);
    font-size: 0.625rem;
  }
}

@media only screen and (min-width: 1000px) {
  .index-header nav .burger {
    display: none;
  }

  .index-header nav {
    width: 500px;
  }

  .index-header nav ul {
    position: static;
    top: 0px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 1;
  }

  .index-header nav ul li a:hover {
    color: var(--hover-color);
    font-weight: var(--bold);
  }

  main #home figure {
    width: 500px;
  }

  main #home article h1 {
    font-size: var(--h1-font-size);
  }

  main #home article a:hover,
  main #contact div form button:hover {
    background-color: var(--hover-color);
  }

  main #project .project-header h2,
  main #about .about-header h2,
  main #skill .skill-header h2,
  main #contact .contact-header h2 {
    font-size: var(--h2-font-size);
  }

  main #project .project-ul,
  main #skill .skill-ul {
    grid-template-columns: repeat(3, 1fr);
  }

  main #project .project-ul li figure figcaption header h3,
  main #skill .skill-ul li figure figcaption header h3 {
    font-size: var(--h3-font-size);
  }

  main #project .project-ul li figure figcaption ul li:hover a {
    color: var(--hover-color);
    font-weight: var(--bold);
  }

  main #project .project-ul li figure figcaption ul li:hover a i {
    color: var(--primary-color);
  }
}
