:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --accent-color: #ec1c24;
  --icon-hover: #02add5;
  --text-hover: #76b672;
  --body-font-family: "Source Sans 3";
  --body-font-size: 1rem;
  --header-font-family: Rubik;
  --padding: 0.5rem;
  --tablet-padding: 0 1.5rem;
  --desktop-padding: 0 2rem;
  --h1-font-weight: 800;
  --bold: bold;
  --semibold: 600;
  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2.0625;
  --desktop-header-icon-size: 0.9375rem;
  --mobile-header-icon-size: 1.375rem;
  --side-padding: 0.5rem 0.75rem;
  --side-gap: 0.625rem;
  --nav-link-icon: 1.25rem;
  --project-cta: 1.5625rem;
  --header-icon-gap: 0.9375rem;
  --line-height: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 53px auto;
}

main section article nav ul li .active {
  background-color: var(--icon-hover);
  color: var(--primary-color);
}

main section article nav ul li:has(a.active) {
  border: none;
}

main section .skill-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 1rem 0;
  gap: 1rem;
  list-style: none;
  width: 100%;
}

main section .skill-ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main section .skill-ul li i {
  font-size: 30px;
}

main section .skill-ul li span {
  padding: var(--side-padding);
  font-family: var(--body-font-family);
  color: var(--secondary-color);
  font-size: var(--body-font-size);
  font-weight: var(--semibold);
}

.html {
  color: #f06529;
}

.css {
  color: #264de4;
}

.js {
  color: #f7df1e;
}

.node {
  color: #3c873a;
}

.github {
  color: #171515;
}

.figma {
  color: #0acf83;
}

footer {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--side-padding);
}

footer p {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--bold);
  color: var(--primary-color);
}

@media only screen and (max-width: 767px) {
  .main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .main-header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .main-header nav ul {
    display: flex;
    justify-content: center;
    gap: var(--header-icon-gap);
  }

  .main-header nav ul li {
    padding: var(--padding);
  }

  .main-header nav ul li a {
    text-decoration: none;
    padding: var(--padding);
  }

  .main-header nav ul li a i {
    color: var(--secondary-color);
    margin-right: var(--side-gap);
    font-size: var(--mobile-header-icon-size);
  }

  .main-header nav ul li a span {
    display: none;
  }

  main {
    min-height: calc(100vh - 70px);
  }

  main section {
    display: flex;
    flex-direction: column;
    gap: var(--desktop-header-icon-size);
  }

  main section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--body-font-size);
  }

  main section article h1 {
    font-size: var(--h2-font-size);
    font-weight: var(--h1-font-weight);
    color: var(--secondary-color);
    font-family: var(--header-font-family);
    padding: var(--padding);
  }

  main section article p {
    font-size: var(--body-font-size);
    font-family: var(--body-font-family);
    padding: var(--padding);
    color: var(--secondary-color);
    line-height: var(--line-height);
  }

  main section article p span {
    font-weight: var(--bold);
    color: var(--accent-color);
  }

  main section article nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--desktop-header-icon-size);
  }

  main section article nav ul li {
    border: 1px solid var(--secondary-color);
  }

  main section article nav ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--side-gap);
    padding: var(--side-padding);
    font-family: var(--body-font-family);
    font-weight: var(--semibold);
    color: var(--secondary-color);
    font-size: var(--body-font-size);
    text-decoration: none;
  }

  main section article nav ul li a i {
    color: var(--accent-color);
    font-size: var(--nav-link-icon);
  }

  main section figure,
  main section figure img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  main section .project-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--body-font-size);
    width: 100%;
  }

  main section .project-ul li figure,
  main section .project-ul li figure img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--body-font-size);
  }

  main section .project-ul li figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  main section .project-ul li figure figcaption .project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
  }

  main section .project-ul li figure figcaption .project-header h2 {
    font-size: var(--h2-font-size);
    font-family: var(--header-font-family);
    color: var(--secondary-color);
    text-align: center;
    font-weight: var(--bold);
  }

  main section .project-ul li figure figcaption p {
    padding: var(--padding);
    line-height: var(--line-height);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--secondary-color);
  }

  main section .project-ul li figure figcaption ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }

  main section .project-ul li figure figcaption ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding);
    font-size: var(--body-font-size);
    color: var(--secondary-color);
    font-weight: var(--semibold);
    padding: var(--padding);
    text-decoration: none;
  }

  main section .project-ul li figure figcaption ul li a i {
    font-size: 25px;
    color: var(--accent-color);
  }

  main section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    gap: var(--body-font-size);
    width: 100%;
  }

  main section form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--padding);
  }

  main section form div label {
    font-size: var(--body-font-size);
    font-weight: var(--semibold);
    color: var(--secondary-color);
    padding: var(--padding);
    font-family: var(--body-font-family);
  }

  main section form div input,
  main section form div textarea {
    padding: var(--padding);
    resize: none;
    border: 1px solid var(--secondary-color);
  }

  main section form div textarea {
    min-height: 141px;
  }

  main section form button {
    padding: var(--padding);
    width: 100%;
    text-align: center;
    background-color: var(--accent-color);
    font-size: var(--body-font-size);
    font-weight: var(--bold);
    color: var(--primary-color);
    outline: none;
    border: none;
    appearance: none;
  }
}

@media only screen and (min-width: 768px) {
  .main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--tablet-padding);
  }

  .main-header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .main-header nav ul {
    display: flex;
    justify-content: center;
    gap: var(--header-icon-gap);
  }

  .main-header nav ul li {
    padding: var(--padding);
  }

  .main-header nav ul li a {
    text-decoration: none;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--side-gap);
    transition: all ease-in 0.3s;
  }

  .main-header nav ul li a i {
    color: var(--secondary-color);
    margin-right: var(--side-gap);
    font-size: var(--desktop-header-icon-size);
    transition: all ease-in 0.3s;
  }

  .main-header nav ul li a span {
    display: block;
    color: var(--secondary-color);
    font-family: var(--body-font-family);
    padding: var(--side-padding);
  }

  .main-header nav ul li .cta {
    background-color: var(--accent-color);
  }

  .main-header nav ul li .cta i {
    color: var(--primary-color);
  }

  .main-header nav ul li .cta span {
    color: var(--primary-color);
    font-weight: var(--bold);
  }

  main {
    min-height: calc(100vh - 96px);
  }

  main section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--desktop-header-icon-size);
    padding: var(--tablet-padding);
  }

  main section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--body-font-size);
  }

  main section article h1 {
    font-size: var(--h2-font-size);
    font-weight: var(--h1-font-weight);
    color: var(--secondary-color);
    font-family: var(--header-font-family);
    padding: var(--padding);
  }

  main section article p {
    font-size: var(--body-font-size);
    font-family: var(--body-font-family);
    padding: var(--padding);
    color: var(--secondary-color);
    line-height: var(--line-height);
  }

  main section article p span {
    font-weight: var(--bold);
    color: var(--accent-color);
  }

  main section article nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--desktop-header-icon-size);
  }

  main section article nav ul li {
    border: 1px solid var(--secondary-color);
  }

  main section article nav ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--side-gap);
    padding: var(--side-padding);
    font-family: var(--body-font-family);
    font-weight: var(--semibold);
    color: var(--secondary-color);
    font-size: var(--body-font-size);
    text-decoration: none;
    transition: all ease-in 0.3s;
  }

  main section article nav ul li a i {
    color: var(--accent-color);
    font-size: var(--nav-link-icon);
  }

  main section figure,
  main section figure img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  main section .skill-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 12rem auto;
  }

  main section .skill-ul li {
    animation-name: appear;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
  main section .skill-ul .html-li {
    animation-delay: 1s;
    animation-duration: 0.5s;
  }
  main section .skill-ul .css-li {
    animation-delay: 2s;
    animation-duration: 0.6s;
  }
  main section .skill-ul .js-li {
    animation-delay: 3s;
    animation-duration: 0.7s;
  }

  main section .skill-ul .node-li {
    animation-delay: 4s;
    animation-duration: 0.8s;
  }

  main section .skill-ul .github-li {
    animation-delay: 5s;
    animation-duration: 0.9s;
  }

  main section .skill-ul .figma-li {
    animation-delay: 6s;
    animation-duration: 1s;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  main section .project-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--body-font-size);
    width: 100%;
  }

  main section .project-ul li figure,
  main section .project-ul li figure img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--body-font-size);
  }

  main section .project-ul li figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  main section .project-ul li figure figcaption .project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
  }

  main section .project-ul li figure figcaption .project-header h2 {
    font-size: var(--h2-font-size);
    font-family: var(--header-font-family);
    color: var(--secondary-color);
    text-align: center;
    font-weight: var(--bold);
  }

  main section .project-ul li figure figcaption p {
    padding: var(--padding);
    line-height: var(--line-height);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--secondary-color);
  }

  main section .project-ul li figure figcaption ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }

  main section .project-ul li figure figcaption ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding);
    font-size: var(--body-font-size);
    color: var(--secondary-color);
    font-weight: var(--semibold);
    padding: var(--padding);
    text-decoration: none;
    transition: all ease-in 0.3s;
  }

  main section .project-ul li figure figcaption ul li a i {
    font-size: 25px;
    color: var(--accent-color);
    transition: all ease-in 0.3s;
  }

  main section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    gap: var(--body-font-size);
    width: 100%;
  }

  main section form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--padding);
  }

  main section form div label {
    font-size: var(--body-font-size);
    font-weight: var(--semibold);
    color: var(--secondary-color);
    padding: var(--padding);
    font-family: var(--body-font-family);
  }

  main section form div input,
  main section form div textarea {
    padding: var(--padding);
    resize: none;
    border: 1px solid var(--secondary-color);
  }

  main section form div textarea {
    min-height: 141px;
  }

  main section form button {
    padding: var(--padding);
    width: 100%;
    text-align: center;
    background-color: var(--accent-color);
    font-size: var(--body-font-size);
    font-weight: var(--bold);
    color: var(--primary-color);
    outline: none;
    border: none;
    appearance: none;
    transition: all ease-in 0.3s;
  }
}

@media only screen and (min-width: 1000px) {
  .main-header {
    padding: var(--desktop-padding);
  }

  .main-header nav ul li a:hover span {
    color: var(--text-hover);
    font-weight: var(--bold);
  }

  .main-header nav ul li a:hover i {
    color: var(--icon-hover);
  }

  .main-header nav ul li:hover .cta {
    background-color: transparent;
  }

  .main-header nav ul li .cta:hover i {
    color: var(--icon-hover);
  }

  .main-header nav ul li .cta:hover span {
    color: var(--text-hover);
    font-weight: var(--bold);
  }

  main section {
    padding: var(--desktop-padding);
  }

  main section article h1 {
    font-size: var(--h1-font-size);
  }

  main section article nav ul li:hover a {
    color: var(--text-hover);
    font-weight: var(--bold);
  }

  main section article nav ul li a:hover i {
    color: var(--icon-hover);
  }

  main section article nav ul li:hover .active {
    background-color: transparent;
  }

  main section .project-ul li figure figcaption ul li:hover a {
    color: var(--text-hover);
    font-weight: var(--bold);
  }

  main section .project-ul li figure figcaption ul li a:hover i {
    color: var(--icon-hover);
  }

  main section form button:hover {
    background-color: var(--icon-hover);
    color: var(--accent-color);
    cursor: pointer;
    font-weight: var(--bold);
  }
}
