:root {
  --bg-color: #fdf6ff;
  --button-color: #0000ff;
  --hover-color: #9a89b4;
  --text-color: #1e1926;
  --button-padding: 0.75rem;
  --padding: 0.5rem;
  --header-font: Roboto;
  --text-font: Raleway;
  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2.0625rem;
  --h4-font-size: 1.75rem;
  --text-size: 1rem;
  --link-size: 0.8125rem;
  --footer-text: 0.6875rem;
  --extra-bold: 800;
  --bold: 700;
  --semibold: 600;
  --medium: 500;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

main {
  width: 100%;
}

section {
  min-height: 100vh;
}

footer {
  width: 100%;
  background-color: var(--text-color);
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--padding);
}

footer p {
  text-align: center;
  font-size: var(--footer-text);
  padding: var(--padding);
  color: var(--bg-color);
  font-weight: var(--bold);
}

main {
  min-height: calc(100vh -91px);
}

@media only screen and (max-width: 743px) {
  .wrapper {
    max-width: 288px;
  }

  .main-header {
    background-color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
  }

  .main-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
  }

  .main-header .logo a {
    font-size: var(--text-size);
    font-family: var(--text-font);
    color: var(--bg-color);
    font-weight: var(--bold);
    text-decoration: none;
  }

  .main-header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
    position: absolute;
    right: 0px;
    width: 68px;
    background-color: var(--text-color);
    top: 48px;
    z-index: 1;
  }

  .main-header nav ul li a {
    padding: var(--padding);
    color: var(--bg-color);
    font-weight: var(--semibold);
    font-size: var(--link-size);
    text-decoration: none;
    text-align: center;
  }

  #home,
  #project,
  #about,
  #skill,
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
  }

  #home figure {
    background-image: url(../img/avatar.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 241px;
    height: 241px;
    border-radius: 50%;
  }

  #home article,
  #contact .contact-wrapper article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--text-size);
  }

  #home article h1 {
    color: var(--text-color);
    font-family: var(--header-font);
    font-size: var(--h2-font-size);
    padding: var(--padding);
  }

  #home article p,
  #about figure figcaption p,
  #contact .contact-wrapper article p {
    font-size: var(--text-size);
    font-family: var(--text-font);
    line-height: 24px;
    padding: var(--padding);
  }

  #home article a {
    padding: var(--button-padding);
    text-align: center;
    font-size: var(--text-size);
    color: var(--bg-color);
    text-decoration: none;
    font-weight: var(--bold);
    background-color: var(--button-color);
    align-self: flex-start;
    width: 164px;
  }

  #project header,
  #about header,
  #skill header,
  #contact header {
    align-self: flex-start;
    display: flex;
    align-items: center;
    padding: var(--padding);
  }

  #project header h2,
  #about header h2,
  #skill header h2,
  #contact header h2 {
    font-family: var(--header-font);
    font-size: var(--h3-font-size);
    color: var(--text-color);
  }

  #project .project-gallery,
  #skill .skill-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
    width: 100%;
    list-style: none;
  }

  #project .project-gallery li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
  }

  #project .project-gallery li figure,
  #project .project-gallery li figure img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
  }

  #project .project-gallery li figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--text-size);
  }

  #project .project-gallery li figure figcaption .project-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--padding);
  }

  #project .project-gallery li figure figcaption .project-name h3 {
    font-size: var(--h4-font-size);
    color: var(--text-color);
    font-family: var(--header-font);
    text-align: center;
  }

  #project .project-gallery li figure figcaption .cta-project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
  }

  #project .project-gallery li figure figcaption .cta-project li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding);
    font-size: var(--link-size);
    font-weight: var(--medium);
    text-align: center;
    padding: var(--padding);
    text-decoration: none;
    color: var(--text-color);
  }

  #project .project-gallery li figure figcaption .cta-project li a i {
    font-size: 25px;
    color: var(--button-color);
  }

  #about figure,
  #skill .skill-collection li figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
    width: 100%;
  }

  #about figure img {
    border-radius: 50%;
    width: 241px;
  }

  #about figure figcaption,
  #skill .skill-collection li figure figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: var(--text-size);
  }

  #skill .skill-collection li figure figcaption p {
    padding: var(--padding);
    text-align: center;
    color: var(--text-color);
    font-size: var(--text-size);
    font-family: var(--text-font);
    font-weight: var(--medium);
  }

  #skill .skill-collection li figure i {
    font-size: 40px;
    color: var(--button-color);
  }

  #contact .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
  }

  #contact .contact-wrapper article ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  #contact .contact-wrapper article ul li a {
    color: var(--button-color);
    font-size: 25px;
    text-decoration: none;
  }

  #contact .contact-wrapper form {
    width: 100%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    gap: var(--text-size);
    border: 1px solid var(--text-color);
  }

  #contact .contact-wrapper form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding);
    gap: var(--padding);
  }

  #contact .contact-wrapper form div label {
    font-size: var(--link-size);
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: var(--medium);
  }

  #contact .contact-wrapper form div input {
    padding: var(--padding);
    width: 100%;
  }

  #contact .contact-wrapper form div textarea {
    padding: var(--padding);
    width: 100%;
    min-height: 125px;
    resize: none;
  }

  #contact .contact-wrapper form button {
    background-color: var(--button-color);
    padding: var(--button-padding);
    text-align: center;
    color: var(--bg-color);
    font-family: var(--text-font);
    font-weight: var(--bold);
    border: none;
    appearance: none;
    outline: none;
    width: 138px;
    align-self: flex-start;
    font-size: var(--text-size);
  }
}

@media only screen and (min-width: 744px) {
  .wrapper {
    max-width: 680px;
  }

  .main-header {
    background-color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
  }

  .main-header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
  }

  .main-header .logo a {
    font-size: var(--text-size);
    font-family: var(--text-font);
    color: var(--bg-color);
    font-weight: var(--bold);
    text-decoration: none;
  }

  .main-header nav {
    width: 420px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .main-header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
    position: relative;
    right: 0px;
    width: 100%px;
    background-color: var(--text-color);
    top: 0px;
  }

  .main-header nav ul li a {
    padding: var(--padding);
    color: var(--bg-color);
    font-weight: var(--semibold);
    font-size: var(--link-size);
    text-decoration: none;
    text-align: center;
  }

  #home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: var(--text-size);
  }

  #home figure {
    background-image: url(../img/avatar.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 241px;
    height: 241px;
    border-radius: 50%;
  }

  #home article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--text-size);
    width: 423px;
  }

  #home article h1 {
    color: var(--text-color);
    font-family: var(--header-font);
    font-size: var(--h2-font-size);
    padding: var(--padding);
  }

  #home article p,
  #about figure figcaption p,
  #contact .contact-wrapper article p {
    font-size: var(--text-size);
    font-family: var(--text-font);
    line-height: 24px;
    padding: var(--padding);
  }

  #home article a {
    padding: var(--button-padding);
    text-align: center;
    font-size: var(--text-size);
    color: var(--bg-color);
    text-decoration: none;
    font-weight: var(--bold);
    background-color: var(--button-color);
    align-self: flex-start;
    width: 164px;
  }

  #project,
  #about,
  #skill,
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
  }

  #project header,
  #about header,
  #skill header,
  #contact header {
    align-self: flex-start;
    display: flex;
    align-items: center;
    padding: var(--padding);
  }

  #project header h2,
  #about header h2,
  #skill header h2,
  #contact header h2 {
    font-family: var(--header-font);
    font-size: var(--h3-font-size);
    color: var(--text-color);
  }

  #project .project-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: var(--text-size);
    width: 100%;
    list-style: none;
  }

  #project .project-gallery li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
  }

  #project .project-gallery li figure,
  #project .project-gallery li figure img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
  }

  #project .project-gallery li figure figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--text-size);
  }

  #project .project-gallery li figure figcaption .project-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--padding);
  }

  #project .project-gallery li figure figcaption .project-name h3 {
    font-size: var(--h4-font-size);
    color: var(--text-color);
    font-family: var(--header-font);
    text-align: center;
  }

  #project .project-gallery li figure figcaption .cta-project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
  }

  #project .project-gallery li figure figcaption .cta-project li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding);
    font-size: var(--link-size);
    font-weight: var(--medium);
    text-align: center;
    padding: var(--padding);
    text-decoration: none;
    color: var(--text-color);
  }

  #project .project-gallery li figure figcaption .cta-project li a i {
    font-size: 25px;
    color: var(--button-color);
  }

  #about figure {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: var(--text-size);
    width: 100%;
  }

  #about figure img {
    border-radius: 50%;
    width: 241px;
  }

  #about figure figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 439px;
    gap: var(--text-size);
  }

  #skill .skill-collection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--text-size);
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
  }

  #skill .skill-collection li figure figcaption p {
    padding: var(--padding);
    text-align: center;
    color: var(--text-color);
    font-size: var(--text-size);
    font-family: var(--text-font);
    font-weight: var(--medium);
  }

  #skill .skill-collection li figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
    width: 100%;
  }

  #skill .skill-collection li figure figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: var(--text-size);
  }

  #skill .skill-collection li figure i {
    font-size: 40px;
    color: var(--button-color);
  }

  #contact .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--text-size);
    width: 100%;
  }

  #contact .contact-wrapper article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--text-size);
    width: 640px;
  }

  #contact .contact-wrapper article ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  #contact .contact-wrapper article ul li a {
    color: var(--button-color);
    font-size: 25px;
    text-decoration: none;
  }

  #contact .contact-wrapper form {
    width: 100%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    gap: var(--text-size);
    border: 1px solid var(--text-color);
  }

  #contact .contact-wrapper form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding);
    gap: var(--padding);
  }

  #contact .contact-wrapper form div label {
    font-size: var(--link-size);
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: var(--medium);
  }

  #contact .contact-wrapper form div input {
    padding: var(--padding);
    width: 100%;
  }

  #contact .contact-wrapper form div textarea {
    padding: var(--padding);
    width: 100%;
    min-height: 125px;
    resize: none;
  }

  #contact .contact-wrapper form button {
    background-color: var(--button-color);
    padding: var(--button-padding);
    text-align: center;
    color: var(--bg-color);
    font-family: var(--text-font);
    font-weight: var(--bold);
    border: none;
    appearance: none;
    outline: none;
    width: 138px;
    align-self: flex-start;
    font-size: var(--text-size);
  }
}

@media only screen and (min-width: 1000px) {
  .main-header nav ul li a {
    transition: all ease-in 0.3s;
  }

  .main-header nav ul li a:hover {
    background-color: var(--bg-color);
    color: var(--button-color);
    font-weight: var(--bold);
  }

  #home article {
    width: 370px;
  }

  #home article h1 {
    font-size: var(--h1-font-size);
  }

  #home article a {
    transition: all ease-in 0.3s;
  }

  #home article a:hover {
    background-color: var(--hover-color);
  }

  #project header h2,
  #about header h2,
  #skill header h2,
  #contact header h2 {
    font-size: var(--h2-font-size);
  }

  #project .project-gallery li figure figcaption .project-name h3 {
    font-size: var(--h3-font-size);
  }

  #project .project-gallery li figure figcaption .cta-project li a {
    transition: all ease-in 0.3s;
  }

  #project .project-gallery li figure figcaption .cta-project li:hover a {
    color: var(--button-color);
    font-weight: var(--bold);
  }

  #project .project-gallery li figure figcaption .cta-project li a i {
    transition: all ease-in 0.3s;
  }

  #project .project-gallery li figure figcaption .cta-project li:hover a i {
    color: var(--hover-color);
  }

  #skill .skill-collection li figure i {
    font-size: 50px;
  }

  #contact .contact-wrapper article ul li a,
  #contact .contact-wrapper form button {
    transition: all ease-in 0.3s;
  }

  #contact .contact-wrapper article ul li a:hover {
    color: var(--hover-color);
  }

  #contact .contact-wrapper form button:hover {
    background-color: var(--hover-color);
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1120px;
  }

  #home figure {
    width: 400px;
    height: 400px;
  }

  #home article {
    width: 532px;
  }

  #project .project-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #about figure figcaption {
    width: 669px;
  }

  #contact .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--text-size);
    width: 100%;
  }

  #contact .contact-wrapper article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--text-size);
    width: 560px;
  }
}
